* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
}

.container {
  width:90%;
  max-width: 350px;
  margin: auto;
}

.quiz-card {
  display: block;
  border: 2px grey solid;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  height: auto;
}

.title-of-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

#main_icon {
  height: 25px;
}

b {
  color: green;
}

legend{
  padding: 5px;
  margin-bottom: 10px;;
}

.score-div {
  margin: 5px auto;
}

.p_class {
  margin: auto auto 15px auto;
}

form {
  text-align: center;
  margin: auto 10px;
}

.announce-card {
  display: block;
  border: 1px black solid;
  padding: 10px;
  background-color: yellow;
  height: auto;
  min-height: 100px;
}

#help-info {
  text-align: center;
}

.banner_image {
  height: 100px;
  width:100%;
  object-fit: cover;
  border: 1px black solid;
}

button:hover, button:focus {
  background-color: rgb(233, 233, 233);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

button {
  border: solid rgb(87, 85, 0) 1px;
  width: 100%;
  height: 80px;
  max-height: auto;
  font-size: 13px;
  margin: 5px auto 5px;
  
}


.call-to-action {
    font-weight: bold;
}

.correct-answer-label {
  font-weight: bold;
  color: hotpink;
}

h1 {
    font-size:16px;
}

@media only screen and (min-width: 320px) {
  h1 {
    font-size: 16px;
  }
  .container {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }
  .title-of-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
  }
  #main_icon {
    height: 45px;
  }
  legend{
    padding: 5px;
    max-width: 330px;
  }
  .score-div {
    margin: 15px auto;
  }
  form {
    text-align: center;
    margin: auto 20px;
  }
  button {
    border: solid rgb(87, 85, 0) 1px;
    width: 100%;
    min-height: 75px;
    font-size: 14x;
    padding: 16px;
  }
  .announce-card {
    display: block;
    border: 1px black solid;
    margin: 20px auto;
    padding: 10px;
    background-color: yellow;
    height: auto;
    min-height: 100px;
  }
  * {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.2;
  }
}

@media only screen and (min-width: 550px) {
  h1 {
    font-size: 20px;
  }
  button {
    font-size: 15px;
    padding: 10px auto 10px;
  }
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 21px;
  }
  button {
    font-size: 20x;

  }
}