* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.2;
}

.container {
  width:80%;
  max-width: 350px;
  margin: auto;
}

.quiz-card {
  display: block;
  border: 2px grey solid;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(250, 250, 250);
  height: auto;
}

.title-of-quiz {
  vertical-align: center;
  display: flex;
  margin: 30px auto;
  max-width: 220px;
}

#main_icon {
  height: 45px;
}

b {
  color: green;
}

legend{
  padding: 10px;
}

.score-div {
  margin: 15px auto;
}

.p_class {
  margin: auto auto 15px auto;
}

form {
  text-align: center;
  margin: auto 20px;
}

.response-card-correct {
  border: 2px green dotted;
  margin: 20px auto;
  padding: 10px;
  vertical-align: center;
  background-color: rgb(220, 255, 220);
  height: 500px;
}

.response-card-wrong {
  border: 2px red dotted;
  margin: 20px auto;
  padding: 10px;
  vertical-align: center;
  background-color: rgb(255, 220, 220);
  height: 500px;
}

.announce-card {
  display: block;
  border: 1px black solid;
  margin: 20px auto;
  padding: 10px;
  background-color: yellow;
  height: auto;
  min-height: 100px;
}

.banner_image {
  height: 100px;
  width:100%;
  object-fit: cover;
  border: 1px black solid;
}


button:hover, button:focus {
  background-color: rgb(233, 233, 233);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}




button {
  border: solid rgb(87, 85, 0) 1px;
  width: 100%;
  height: 75px;
  max-height: auto;
  font-size: 15px;
  margin: 5px auto 5px;
}


.call-to-action {
    font-weight: bold;
}

.correct-answer-label {
  font-weight: bold;
  color: hotpink;
}

h1 {
    font-size: 20px;
}